<h2><%= @article.title %></h2>
<p>
	<%= @article.text %>
</p>

<h3>Comments</h3>

<% @article.comments.each do |comment| %>

	<p>
		<%= comment.body %>
		<br />
		<br />
		<i>Said <%= comment.author %> at <%= comment.created_at %></i>
		<hr/>
	</p>

<% end %>

<% if user_signed_in? %>
	<h4>Add comment</h4>

	<p>
		<%= form_for([@article, @article.comments.build]) do |f| %>

			<p>
				<%= f.text_area :body %>
			</p>

			<p>
				<%= f.submit %>
			</p>
		<% end %>
	</p>

<% else %>
	<i>Please <%= link_to "sign in", new_user_session_path %> or <%= link_to "register", new_user_registration_path %> to leave comments.</i>
<% end %>
